<div class="content-background-color">

</div>

<div class="container">
	<div class="content">

		<div class="row justify-content-center">
			<div class="content-box col-9">
				<p><b><%= @question.title %></b></p>
				<p><%= @question.description %></p>

				<form action="/questions/<%= @question.id %>/answers" method="POST">

						<div class="form-group">
							<textarea rows="5" class="form-control" name="answer-description" placeholder="Enter answer here"></textarea>
						</div>

						<button type="submit" class="btn std-btn">Post</button>

				</form>

				<% @answers.each do |elm| %>
					<p><b> <%= elm.user.username %> </b></p>
					<p> <%= elm.description %> </p>
				<% end %>

			</div>
		</div>


	</div>
</div>